<% provide(:title, 'User profile') %>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3>Your Profile:</h3>
	</div>

	<div class="panel-body">
		<h4><strong>Username:</strong> <%= current_user.email %></h4><br/>
		<% if current_user.appointments.empty? %>
			<p>You have not scheduled your appointment yet.</p>
		<% else %>
			Your appointment is scheduled on 
				<% current_user.appointments.each do |apmt| %>
					<strong><%= apmt.date.strftime("#{apmt.date.day.ordinalize} %B, %Y") %> 	at <%= apmt.slots %>.
					</strong> <br /><br />

					To Reschedule your appointment  
					<%= link_to 'Click here', apmt, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-warning" %>
				<% end %>
		<% end %>								
	</div>
</div>